name: over_the_bike_fit
description: A new Flutter project.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0' # 1000013098.jpg의 SDK 제약 오류 해결

dependencies:
  flutter:
    sdk: flutter
  fl_chart: ^0.70.0
  intl: ^0.19.0
  shared_preferences: ^2.3.5
  flutter_blue_plus: ^1.34.4
  permission_handler: ^11.3.1
  table_calendar: ^3.1.2
  cupertino_icons: ^1.0.6

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
