name: Mobile Simple Build
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.27.1'
          channel: 'stable'
      - name: Build APK
        run: |
          flutter pub get
          flutter build apk --debug --no-tree-shake-icons
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: Indoor_Bike_Fit_Test
          path: build/app/outputs/flutter-apk/app-debug.apk
