name: Flutter APK Build

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: 코드 가져오기
        uses: actions/checkout@v4

      - name: Java 17 설치
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - name: Flutter 설치
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - name: 패키지 캐시
        uses: actions/cache@v4
        with:
          path: |
            ~/.pub-cache
          key: \( {{ runner.os }}-pub- \){{ hashFiles('**/pubspec.lock') }}

      - name: 정리 & 패키지 받기
        run: |
          flutter clean
          flutter pub get

      - name: 릴리스 APK 빌드
        run: flutter build apk --release --split-per-abi --no-tree-shake-icons --verbose

      - name: APK 업로드
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: release-apks
          path: build/app/outputs/flutter-apk/app-*-release.apk
          retention-days: 7
